<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul Mina • Visual Media Design</title>
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body  style="background-color: #fafafa;">
    <main>
        <header style="background-color: #fafafa;">
            <a href="/index.html">
                <img src="/assets/logo-pd.png" alt="logo-pavlmina.design" height="28px">
            </a>
            <nav>
                <a href="/component/info.html" class="text-dark"><span class="dot-dark"></span><strong>INFO</strong></a>
                <a href="/component/connect.html" class="text-dark"><span class="dot-green"></span><strong>CONNECT</strong></a>
                <a href="/component/shop.html" style="margin-right: 0px;" class="text-dark"><span class="dot-blue"></span><strong>SHOP</strong></a>
            </nav>
        </header>
        <!-- <section>
            <img src="/assets/me-fliped.png" alt="me" class="col-12 about-img">
        </section> -->
        
        <section>
            <div class="col-5">
                <h2  class="text-dark">I’m Paul Mina, a Manila-born creative now based offshore, specializing in Branding and Visual Designs.</h2><br>
                <h3  class="text-dark">Passionate</h3>
                <p  class="text-dark">about art from the moment I first picked up a pen, my journey into graphic design began with the humble brush tool in Windows 95 Paint. <a href="https://www.behance.net/gallery/160185651/Illustrations" target="_blank" class="text-blue">Check my artworks →</a></p><br>

                <h3  class="text-dark">Over the years</h3>
                <p  class="text-dark">I honed my skills in diverse roles — from production advertising to digital marketing design — working on projects ranging from retail merchandising to corporate branding and beyond. <a href="https://drive.google.com/file/d/1L2HX8XIBkZN6cvZthSpuWDrbEJLmNMoy/view?usp=sharing" target="_blank" class="text-blue">Detailed resume →</a></p><br>

                <h3  class="text-dark">With a degree in Information Technology</h3>
                <p  class="text-dark">I developed a deep interest in multimedia and graphic design, shaping it into my career post-college and develop software design.<a href="wip.html" class="text-blue">Pet projects →</a> </p><br>

                <h3  class="text-dark">I'm here</h3>
                <p  class="text-dark">in this field because of the opportunity to continuously learn and evolve, not only as an artist but also as an individual, through collaboration and showcasing my work.</p>
            </div>

            <div class="left-item col-5" style="margin-bottom: 0px;">
                <img src="/assets/me-fliped.png" alt="me" class="col-12 about-img">
            </div>
        </section>

<main class="main-2 bg-blue">
    <section>
        <div class="col-5">
            <h1 class="text-green" ><a href="https://www.behance.net/paulmina" class="text-green text-big-btn" target="_blank">Work <sup><img src="/assets/link-arrow-green.svg" alt="email-tab"></sup></a></h1>
        <p  class="text-light">Amidst a whirlwind of projects and hobbies, <br>my central focus remains in Design.</p>
        </div>
    </section>

    <section>
        <div class="text-light col-5">
            <h3  class="text-light">Design</h3>
            <p  class="text-light">Ever since I was a kid, art has been my passion. <br> As I grew older, I discovered that graphic design was the perfect outlet for my <b>creativity</b>. <br> It's not just about static graphics, it's a dynamic world where I can explore motion, software design, and engaging web applications to <b>communicate visually</b>.</p>
        </div>

        <div class="left-item text-light col-5">
            <h3  class="text-light">Art</h3>
            <p  class="text-light">Art is a profound form of expression that allows me to communicate <b>emotions</b> and <b>thoughts with freedom and clarity</b>. It opens my eyes to new perspectives and challenges me to think creatively. <br> Through art, I embrace the freedom to convey complex emotions and ideas, fostering a <b>deeper connection</b> with myself and others.</p>

            <!-- <div class="accordion" style="margin: 0;" style="margin: 0px;"><b>Design Strategy</b></div>
            <p class="panel" style="margin: 0;">
                <a class="text-dark sub-menu">Brand Guideline</a><br><br>
                <a href="https://www.behance.net/gallery/160184013/Social-Media-Post" class="text-dark sub-menu" target="_blank">Campaign</a><br><br>
                <a class="text-dark sub-menu" target="_blank">Logo</a><br><br>
                <a class="text-dark sub-menu" target="_blank">Listing Images</a><br><br>
                <a class="text-dark sub-menu">Creative Direction</a><br><br>
            </p>

            <div class="accordion" style="margin: 0;"><b>3D Visualization</b></div>
            <p class="panel" style="margin: 0;">
                <a class="text-dark sub-menu">Product Design</a><br><br>
                <a class="text-dark sub-menu">Mockup</a><br><br>
                <a class="text-dark sub-menu">Interior Design</a><br><br>
                <a class="text-dark sub-menu">Industrial</a><br><br>
            </p>
            

            <div class="accordion" style="margin: 0;"><b>Motion / Video</b></div>
            <p class="panel" style="margin: 0;">
                <a class="text-dark sub-menu">Text Animation</a><br><br>
                <a class="text-dark sub-menu">Symbols</a><br><br>
                <a class="text-dark sub-menu">Reels</a><br><br>
            </p> -->
        </div>
    </section>

    <!-- <section>
        <div class="text-dark col-5">
           
        </div>

        <div class="left-item text-dark col-5">
            <div class="accordion" style="margin: 0;"><b>Illustrations</b></div>
            <p class="panel" style="margin: 0;">
                <a class="text-dark sub-menu">Poster</a><br><br>
                <a class="text-dark sub-menu">Bands</a><br><br>
                <a class="text-dark sub-menu">Sports</a><br><br>
            </p>

            <div class="accordion" style="margin: 0;"><b>Painting</b></div>
            <p class="panel" style="margin: 0;">
                <a class="text-dark sub-menu">Digital</a><br><br>
                <a class="text-dark sub-menu">Traditional</a><br><br>
                <a class="text-dark sub-menu">Portraits</a><br><br>
                <a class="text-dark sub-menu">Abstract</a><br><br>
            </p>
            

            <div class="accordion" style="margin: 0;"><b>Shop</b></div>
            <p class="panel" style="margin: 0;">
                <a class="text-dark sub-menu">Wall</a><br><br>
                <a class="text-dark sub-menu">Merch</a><br><br>
                <a class="text-dark sub-menu">More...</a><br><br>
            </p>
        </div>
    </section> -->

    <section>
        <div class="text-light col-5">
            <h3  class="text-light">Programming</h3>
            <p  class="text-light">I am drawn to coding for its ability to create <b>innovative software</b> and web designs that drive business success. <br>From crafting software architectures to developing user-friendly <b>web experiences</b>, coding allows me to innovate and make a meaningful impact in the digital realm. <br> Code is poetry.
            </p>
        </div>

        <div class="left-item text-light col-5">
            <!-- <div class="accordion" style="margin: 0;"><b>Development</b></div>
            <p class="panel" style="margin: 0;">
                <a class="text-dark sub-menu">UX/UI</a><br><br>
                <a class="text-dark sub-menu">Sitemap</a><br><br>
                <a class="text-dark sub-menu">Digital Product</a><br><br>
                <a class="text-dark sub-menu">Web Design</a><br><br>
            </p>

            <div class="accordion" style="margin: 0;"><b>Projects</b></div>
            <p class="panel" style="margin: 0;">
                <a class="text-dark sub-menu">Pet Projects</a><br><br>
                <a class="text-dark sub-menu">JavaScript</a><br><br>
                <a class="text-dark sub-menu">Frameworks</a><br><br>
            </p>
            

            <div class="accordion" style="margin: 0;"><b>Lab</b></div>
            <p class="panel" style="margin: 0;">
                <a class="text-dark sub-menu">Design System</a><br><br>
                <a class="text-dark sub-menu">Experiments</a><br><br>
            </p> -->
        </div>
    </section>
</main>

   

    <div class="text-dark" style="margin-top: 60px; margin-bottom: 0px;">
        <span class="dot-dark-l"></span>
        <h3 class="head-text">Design Strategy</h3>
    </div>

<section>
    

    <div class="text-dark col-5 works-card works-card">
        <h3><a class="work-header-text text-dark">Brand Guidelines</a></h3>
        <p class="work-desc">Developed detailed brand guidelines to ensure consistent visual identity across all platforms.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Campaign</a></h3>
        <p class="work-desc">Designed and executed impactful marketing campaigns to drive engagement and brand awareness.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Logo</a></h3>
        <p class="work-desc">Created unique and memorable logos that effectively represent the brand's essence.</p>
    </div>
</section>

<section>
    <div class="text-dark col-5 works-card text-to-img">
        <h3><a class="work-header-text">Listing Images</a></h3>
        <p class="work-desc">Produced high-quality listing images to enhance product appeal and increase sales.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Creative Direction</a></h3>
        <p class="work-desc">Provided innovative creative direction to guide visual strategy and maintain cohesive branding.</p>
    </div>

    <div class="left-item text-dark col-5">
        
    </div>
</section>

<hr><br>

<div class="text-dark" style="margin-bottom: 0px;">
    <span class="dot-green-l"></span>
    <h3 class="head-text">3D Visualization</h3>
</div>

<section>
    <div class="text-dark col-5 works-card">
        <h3><a class="work-header-text">Product Design</a></h3>
        <p class="work-desc">Engineered innovative product designs that blend functionality with aesthetic appeal.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Mockup</a></h3>
        <p class="work-desc">Developed detailed 3D mockups to visualize and refine design concepts.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Interior Design</a></h3>
        <p class="work-desc">Created immersive 3D interior design models to bring spaces to life with precision and creativity.</p>
    </div>
</section>

<section>
    <div class="text-dark col-5 works-card">
        <h3><a class="work-header-text">Industrial</a></h3>
        <p class="work-desc">Produced robust 3D models for industrial applications, enhancing the design and development process.</p>
    </div>

    <div class="left-item text-dark col-5">
        
    </div>

    <div class="left-item text-dark col-5">

    </div>
</section>

<hr><br>

<div class="text-dark" style="margin-bottom: 0px;">
    <span class="dot-blue-l"></span>
    <h3 class="head-text">Motion | Video</h3>
</div>

<section>
    <div class="text-dark col-5 works-card">
        <h3><a class="work-header-text">Text Animation</a></h3>
        <p class="work-desc">Crafted dynamic text animations to enhance visual storytelling and captivate audiences.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Symbols</a></h3>
        <p class="work-desc">Designed engaging symbol and logo animations to reinforce brand identity and create memorable impressions.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Reels</a></h3>
        <p class="work-desc">Produced compelling video reels that showcase highlights, tell stories, and engage viewers effectively.</p>
    </div>
</section>

<hr><br>

<div class="text-dark" style="margin-bottom: 0px;">
    <span class="dot-dark-l"></span>
    <h3 class="head-text">Illustrations</h3>
</div>

<section>
    <div class="text-dark col-5 works-card">
        <h3><a class="work-header-text">Poster</a></h3>
        <p class="work-desc">Designed eye-catching posters that convey powerful messages and capture attention.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Bands</a></h3>
        <p class="work-desc">Created vibrant illustrations for bands, enhancing their visual identity and promotional materials.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Sports</a></h3>
        <p class="work-desc">Developed dynamic sports illustrations that bring energy and excitement to life.</p>
    </div>
</section>

<section>
    <div class="text-dark col-5 works-card">
        <h3><a class="work-header-text">Street Ware</a></h3>
        <p class="work-desc">Produced trendy streetwear designs that resonate with urban culture and style.</p>
    </div>

    <div class="left-item text-dark col-5">
        
    </div>

    <div class="left-item text-dark col-5">
       
    </div>
</section>

<hr><br>

<div class="text-dark" style="margin-bottom: 0px;">
    <span class="dot-green-l"></span>
    <h3 class="head-text">Painting</h3>
</div>

<section>
    <div class="text-dark col-5 works-card">
        <h3><a class="work-header-text">Digital</a></h3>
        <p class="work-desc">Vibrant digital paintings that blend modern techniques with artistic creativity.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Traditional</a></h3>
        <p class="work-desc">Craft traditional paintings that celebrate classic artistry and timeless techniques.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Portraits</a></h3>
        <p class="work-desc">Capturing the essence and emotion of each individual with meticulous detail.</p>
    </div>
</section>

<section>
    <div class="text-dark col-5 works-card">
        <h3><a class="work-header-text">Abstract</a></h3>
        <p class="work-desc">I explore abstract art, expressing complex ideas and emotions through bold colors and dynamic forms.</p>
    </div>

    <div class="left-item text-dark col-5">
        
    </div>

    <div class="left-item text-dark col-5">
       
    </div>
</section>

<hr><br>

<div class="text-dark" style="margin-bottom: 0px;">
    <span class="dot-green-l"></span>
    <h3 class="head-text">Development</h3>
</div>

<section>
    <div class="text-dark col-5 works-card">
        <h3><a class="work-header-text">UX/UI</a></h3>
        <p class="work-desc">Interfaces that enhance user experiences and streamline interactions.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Sitemaps</a></h3>
        <p class="work-desc">Comprehensive sitemaps to ensure seamless navigation and optimal site structure.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Web Design</a></h3>
        <p class="work-desc">Visually appealing and functional web designs that effectively communicate brand identity and engage users.</p>
    </div>
</section>

<div class="text-dark" style="margin-bottom: 0px;">
    <h3 class="head-text">Lab</h3>
</div>

<section>
    <div class="text-dark col-5 works-card">
        <h3><a class="work-header-text">Calculator</a></h3>
        <p class="work-desc">Just a simple calculator.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Crow Design System CSS</a></h3>
        <p class="work-desc">Experimental design system with CSS code.</p>
    </div>

    <div class="left-item text-dark col-5 works-card">
        <h3><a class="work-header-text">Simple To-do App</a></h3>
        <p class="work-desc">Just enhancing my JavaScript skill.</p>
    </div>
</section>
        
    <main class="main-2 bg-dark">
        <h3 class="text-light head-text">Everything in Between</h3>

        <section>
            <div class="text-light col-5">
                <h3  class="text-light">Photography</h3>
                <p  class="text-light">Love to capture memories, love ones and places, advanced them using principles and techniques. My interest for street photography started living in Manila, capturing the RAW and hustle of everyday life. Most of my shot is point and shot challenging my self to interact with strangers. <a href="https://vsco.co/pavlmina/gallery" target="_blank" class="text-green">Scenes through my eyes →</a> </p>
            </div>

            <div class="left-item text-light col-5">
                <h3  class="text-light">Music</h3>
                <p  class="text-light">Learned guitar when I was 13 and from then on my passion in music progress and learning different instruments and produce my own by learning tools like Ableton and record my own music. <a href="https://soundcloud.com/john-paul-mina" target="_blank" class="text-green">Some of my demo →</a></p>
            </div>
        </section>

        <section>
            <div class="text-light col-5">
                <h3  class="text-light">Tech</h3>
                <p  class="text-light">Always advancing my self upon learning new frameworks and programming languages and developing basic front-end pet projects as exercise. <a href="wip.html" class="text-green">Little experiments →</a> </p>
            </div>

            <div class="left-item text-light col-5">
                <h3  class="text-light">Tattoo</h3>
                <p  class="text-light">My skill on drawing expand overtime and cross paths with tattoo artist during my college days and lot of skin and party tatts made me a tattoo artist now doing it as a side project of mine. I also design tattoo from scratch based on my clients ideas. <a href="https://www.instagram.com/ink.pavlmina/" target="_blank" class="text-green">Get inked →</a></p>
            </div>
        </section>

        <section>
            <div class="text-light col-5">
                <h3  class="text-light">This website</h3>
                <p  class="text-light">A very simple web site with most of my work and things that inspires me. Developed using HTML, CSS and JS. Powered by Namecheap for hosting and domain. Connected and showcasing my full works on <a href="https://www.behance.net/paulmina" class="text-light sub-menu" target="_blank">Behance</a> and <a href="https://www.artstation.com/pavlmina" class="text-light sub-menu" target="_blank">Artstation</a>. Every update is version controlled on GitHub and yeah appreciate you being here. Cheers!!! </p>
            </div>

            <div class="left-item text-light col-5">

            </div>
        </section>
    </main>

    <script src="/js/script.js"></script>
</body>
</html>