<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul Mina • Visual Media Design</title>
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <main>
        <header style="background-color: #2929CC;">
            <a href="/index.html">
                <img src="/assets/logo-light.png" alt="logo-pavlmina.design" height="28px">
            </a>
            <nav>
                <a href="/component/info.html"><span class="dot-light"></span><strong>INFO</strong></a>
                <a href="/component/connect.html"><span class="dot-green"></span><strong>CONNECT</strong></a>
                <a href="#" style="margin-right: 0px;"><span class="dot-light"></span><strong>SHOP</strong></a>
            </nav>
        </header>

        <h3 class="text-light head-text">Passion projects from mine to yours</h3>

        <section>
            <div class="text-light col-5">
                <h3><a href="/component/wip.html" class="text-light text-light sub-menu-normie">Mockups</a></h3>
                <p>Collection of mockup that you can use for your projects. Monthly updating and adding relevant objects and more for better design presentations.</p>
            </div>

            <div class="left-item text-light col-5">
                <h3><a href="/component/wip.html" class="text-light text-light sub-menu-normie">Visual language</a></h3>
                <p>Style guide templates for you to save time on creating slides and you can focus on the real thing the and how to present your brand.</p>
            </div>
        </section>

        <section>
            <div class="text-light col-5">
                <h3><a href="/component/wip.html" class="text-light sub-menu-normie">Web designs</a></h3>
                <p>Templates on your next business web site. Functionality over everything, if you have a web design that have a great function then you have a web site that converts. It’s a UX/UI thing.</p>
            </div>
    
            <div class="left-item text-light col-5">
                <h3><a href="/component/wip.html" class="text-light sub-menu-normie">Merch</a></h3>
                <p>Pop culture, hilarious humor and expressions designs on your shirt. When do you remember get hyped on a shirt with a banging design?</p>
            </div>
        </section>
        
        <section>
            <div class="text-light col-5">
                <h3><a href="/component/wip.html" class="text-light sub-menu-normie">Design system</a></h3>
                <p>Experimental CSS design system. Projects that can be applied to your one, let’s collaborate.</p>
            </div>
    
            <div class="left-item text-light col-5">
                <h3><a href="/component/wip.html" class="text-light sub-menu-normie">Wall</a></h3>
                <p>A classical approach of painting in digital realm. For my love of Art here is my works and painting from traditional to digital. Signed.</p>
            </div>
        </section>
        
        <section>
            <div class="text-light col-5">
                <h3><a href="/component/wip.html" class="text-light sub-menu-normie">Free stuff</a></h3>
                <p>Technically it’s not free. I invest time and effort making this for you to use and pay me with your inspiration. Create more and consume less.</p>
            </div>

            <div class=" left-item text-light col-5">
                
            </div>
        </section>
        

    </main>
</body>
</html>