<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul Mina • Visual Media Design</title>
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body  style="background-color: #0d0d0d;">
    <main>
        <header style="background-color: #0d0d0d;">
            <a href="/index.html">
                <img src="/assets/logo-light.png" alt="logo-pavlmina.design" height="28px">
            </a>
            <nav>
                <a href="/component/info.html"><span class="dot-light"></span><strong>INFO</strong></a>
                <a href="/component/connect.html"><span class="dot-green"></span><strong>CONNECT</strong></a>
                <a href="/component/shop.html" style="margin-right: 0px;"><span class="dot-blue"></span><strong>SHOP</strong></a>
            </nav>
        </header>

        <h3 class="text-light head-text">Work in progress page and a start of something great!</h3>

        <section style="margin-bottom: 80px;">
            <div class="text-light col-5">
                <h3  class="text-light">Consistency</h3>
                <p  class="text-light">It's not all about talent. It's about dependability, consistency, and being able to improve. If you work hard and you're coachable, and you understand what you need to do, you can improve. <br> <br><strong>Bill Belichick</strong></p>
            </div>

            <div class="left-item text-light col-5">

            </div>
        </section>
    </main>
</body>
</html>
        